<!doctype html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user.firstname %>,</p>
    <p>Sorry to see you go. Your account is now closed.</p>
    <p></p>
    <p>Best regards,</p>
    <p>The 1squared team.</p>
  </body>
</html>