<!doctype html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user.firstname %>,</p>
    <p>Your password was just changed.</p>
    <p>If this wasn't you, please <a href="mailto:hi@1squared.org">contact us</a> and we'll look into it.</p>
    <p></p>
    <p>Best regards,</p>
    <p>The 1squared team.</p>
  </body>
</html>