<h1>Editing scaffold test</h1>

<%= render "form", scaffold_test: @scaffold_test %>

<br>

<div>
  <%= link_to "Show this scaffold test", @scaffold_test %> |
  <%= link_to "Back to scaffold tests", scaffold_tests_path %>
</div>
